rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      // Check if the user is authenticated and their user document has the 'admin' role.
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
    
    // Publicly readable collections
    match /cities/{cityId} {
      allow read: if true;
      // Temporarily changed for debugging. Allows any authenticated user to write.
      allow write: if request.auth != null; 
    }

    match /store_categories/{categoryId} {
      allow read: if true;
      // Temporarily changed for debugging. Allows any authenticated user to write.
      allow write: if request.auth != null;
    }

    match /stores/{storeId} {
      allow read: if true;
      // Temporarily changed for debugging. Allows any authenticated user to write.
      allow write: if request.auth != null;
    }

    match /product_categories/{prodCatId} {
      allow read: if true;
      // Temporarily changed for debugging. Allows any authenticated user to write.
      allow write: if request.auth != null;
    }

    match /products/{productId} {
        allow read: if true;
        // Temporarily changed for debugging. Allows any authenticated user to write.
        allow write: if request.auth != null;
    }

    // User profiles
    match /users/{userId} {
      // A user can create their own profile, and read/update it.
      allow create: if request.auth.uid == userId;
      allow read, update: if request.auth.uid == userId;
      // Admins can read any user profile.
      allow get, list: if isAdmin();
    }

    // Deny all other access by default
  }
}
